%h1= "Menu canteen of day #{Time.now.strftime("%d/%m/%Y %A")}"
%h2 Monday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve
%br
%input{ :type=>"submit", :value=>"Reservation", :name=>"sendRevesevetions" }
%input{ :type=>"submit", :value=>"Reset", :name=>"reset" }

%h2 Tuesday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%br
%input{ :type=>"submit", :value=>"Reservation", :name=>"sendRevesevetions" }
%input{ :type=>"submit", :value=>"Reset", :name=>"reset" }

%h2 Wednesday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%br
%input{ :type=>"submit", :value=>"Reservation", :name=>"sendRevesevetions" }
%input{ :type=>"submit", :value=>"Reset", :name=>"reset" }

%h2 Thursday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%br
%input{ :type=>"submit", :value=>"Reservation", :name=>"sendRevesevetions" }
%input{ :type=>"submit", :value=>"Reset", :name=>"reset" }

%h2 Friday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%br
  %input{ :type=>"submit", :value=>"Reservation", :name=>"sendRevesevetions" }
  %input{ :type=>"submit", :value=>"Reset", :name=>"reset" }

%h2 Saturday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%br
%input{ :type=>"submit", :value=>"Submit", :name=>"sendRevesevetions" }
%input{ :type=>"submit", :value=>"Reset", :name=>"reset" }

%h2 Sunday
%h3 Menu Lunch
%table#menuLunch
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve

%h3 Menu Dinner
%table#menuDinner
  %thead
    %tr
      %th First Course
      %th Second Course
      %th Side Dish
      %th Note
  %tfoot
    %tr
      %td firstCourse
      %td secondCourse
      %td sideDish
      %td notes
      %td Reserve
%br
  %input{ :type=>"submit", :value=>"Reservation", :name=>"sendRevesevetions" }
  %input{ :type=>"submit", :value=>"Reset", :name=>"reset" }