%p
  %h1 Reserver for First Guest
  %h2 Reserve for Lunch
  %input{ :type=>"checkbox", :name=>"resLunch" } Reserve
  %h3 Alternatives first course
  %input{ :type=>"radio", :name=>"AFCL" } alt1
  %input{ :type=>"radio", :name=>"AFCL"  } alt2
  %h3 Alternatives second course
  %input{ :type=>"radio", :name=>"ASCL"} alt1 
  %input{ :type=>"radio", :name=>"ASCL"} alt2 
  %input{ :type=>"radio", :name=>"ASCL"} alt3
  %input{ :type=>"radio", :name=>"ASCL"} alt4
  %h3 Alternatives side dish
  %input{ :type=>"radio", :name=>"ASDL" } alt1
  %input{ :type=>"radio", :name=>"ASDL" } alt2
  %h3 Notes
  %label Note 
  %input{ :type=>"text", :name=>"notes"}

  %h2 Reserve for Dinner
  %input{ :type=>"checkbox", :name=>"resDinner" } Reserve
  %h3 Alternatives first course
  %input{ :type=>"radio", :name=>"AFCD" } alt1
  %input{ :type=>"radio", :name=>"AFCD"  } alt2
  %h3 Alternatives second course
  %input{ :type=>"radio", :name=>"ASCD"} alt1 
  %input{ :type=>"radio", :name=>"ASCD"} alt2 
  %input{ :type=>"radio", :name=>"ASCD"} alt3
  %input{ :type=>"radio", :name=>"ASCD"} alt4
  %h3 Alternatives side dish
  %input{ :type=>"radio", :name=>"ASDD" } alt1
  %input{ :type=>"radio", :name=>"ASDD" } alt2
  %h3 Notes
  %label Note 
  %input{ :type=>"text", :name=>"notes"}

  %br
  %input{ :type=>"submit", :value=>"Submit", :name=>"sendRevesevetions" }
  %input{ :type=>"reset", :value=>"Reset", :name=>"reset" }

%p
  %h1 Reserver for Second Guest
  %h2 Reserve for Lunch
  %input{ :type=>"checkbox", :name=>"resLunch" } Reserve
  %h3 Alternatives first course
  %input{ :type=>"radio", :name=>"AFCL" } alt1
  %input{ :type=>"radio", :name=>"AFCL"  } alt2
  %h3 Alternatives second course
  %input{ :type=>"radio", :name=>"ASCL"} alt1 
  %input{ :type=>"radio", :name=>"ASCL"} alt2 
  %input{ :type=>"radio", :name=>"ASCL"} alt3
  %input{ :type=>"radio", :name=>"ASCL"} alt4
  %h3 Alternatives side dish
  %input{ :type=>"radio", :name=>"ASDL" } alt1
  %input{ :type=>"radio", :name=>"ASDL" } alt2
  %h3 Notes
  %label Note 
  %input{ :type=>"text", :name=>"notes"}

  %h2 Reserve for Dinner
  %input{ :type=>"checkbox", :name=>"resDinner" } Reserve
  %h3 Alternatives first course
  %input{ :type=>"radio", :name=>"AFCD" } alt1
  %input{ :type=>"radio", :name=>"AFCD"  } alt2
  %h3 Alternatives second course
  %input{ :type=>"radio", :name=>"ASCD"} alt1 
  %input{ :type=>"radio", :name=>"ASCD"} alt2 
  %input{ :type=>"radio", :name=>"ASCD"} alt3
  %input{ :type=>"radio", :name=>"ASCD"} alt4
  %h3 Alternatives side dish
  %input{ :type=>"radio", :name=>"ASDD" } alt1
  %input{ :type=>"radio", :name=>"ASDD" } alt2
  %h3 Notes
  %label Note 
  %input{ :type=>"text", :name=>"notes"}

  %br
  %input{ :type=>"submit", :value=>"Submit", :name=>"sendRevesevetions" }
  %input{ :type=>"reset", :value=>"Reset", :name=>"reset" }